@media(min-width: 1925px) {

    .content svg {
        position: relative;
        top: 28%;
    }

    .text-popup {
        bottom: -100px;
    }

}

@media(max-width: 1620px) {
    #second-section {
        top: 1999px;
    }

}

@media(max-width: 1280px) {
    .text-popup p {
        width: 100%;
    }

    #first-section .para p {
        width: 100%;
    }

    #second-section {
        top: 1990px;
    }

    #second-section .para {
        width: 80%;
    }

}

@media(max-width: 991px) {
    #first-section video {
        height: 400px;
    }

    #first-section .text-box {
        padding-top: 40px;
        height: 800px;
        left: 0;
    }

    #first-section .text-box h2 {
        font-size: 140px;
        line-height: 130px;
    }

    #first-section .para p {
        width: 80%;
    }

    #second-section {
        top: 1969px;
    }

}

@media(max-width: 767px) {

    .header__ul {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        position: fixed;
        z-index: 99999;
        right: -300%;
        top: 0;
        height: 100vh;
        width: 300px;
        background-color: #fff;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 30px;
        transition: all 0.3s ease;
    }

    .ham__menu{
        display: block;
        color: #fff;
        font-size: 2rem;
        position: relative;
        right: 20px;
        top: -10px;
        cursor: pointer;
        z-index: 1;
    }

    .close__menu {
        position: absolute;
        font-size: 2rem;
        color: #000;
        top: 30px;
        right: 20px;
        display: block;
    }

    .header__ul li ion-icon {
        color: #000;
    }

    .header .menubtn {
        background-color: #000;
        color: #fff;
    }

    .text-popup h2 {
        font-size: 80px;
        line-height: 70px;
    }

    #first-section video {
        height: 300px;
    }

    #first-section .text-box {
        padding-top: 0px;
    }

    #first-section .text-box h2 {
        font-size: 90px;
        line-height: 90px;
    }

    #second-section {
        top: 1990px;
    }

    #second-section .content h2 {
        font-size: 80px;
    }

    #second-section .box .box-outer {
        background-color: #11361c;
        left: calc(50.00000000000002% - 70% / 2);
        width: 70%;
    }

    #second-section .box .box-inner {
        height: 93%;
        left: calc(50.00000000000002% - 66% / 2);
        overflow: hidden;
        position: absolute;
        top: calc(49.75728155339808% - 93% / 2);
        width: 66%;
        z-index: 1;
    }

}