*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img,
video,
svg {
    display: block;
    max-width: 100%;
}

body {
    min-height: 4500px;
}

/* ====================  Font ======================== */

@font-face {
    font-family: 'Variera Demo';
    src: url("../css/font/variera-demo.bold-700.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Variera Demo';
    src: url("../css/font/variera-demo.extra-bold-800.ttf");
    font-weight: 800;
}

@font-face {
    font-family: 'Eastman Grotesque Trial';
    src: url("../css/font/Eastman-Grotesque-Light-trial-500.otf");
    font-weight: 500;
}

@font-face {
    font-family: 'Eastman Grotesque Trial';
    src: url("../css/font/Eastman-Grotesque-Demi-Bold-trial-600.otf");
    font-weight: 600;
}

@font-face {
    font-family: 'Eastman Grotesque Trial';
    src: url("../css/font/Eastman-Grotesque-Bold-trial-700.otf");
    font-weight: 700;
}

/* ==================  Global Classes ======================== */

.inter {
    font-family: 'Inter', sans-serif;
}

.var700 {
    font-family: 'Variera Demo';
    font-weight: 700;
}

.var800 {
    font-family: 'Variera Demo';
    font-weight: 800;
}

.east500 {
    font-family: 'Eastman Grotesque Trial';
    font-weight: 500;
}

.east600 {
    font-family: 'Eastman Grotesque Trial';
    font-weight: 600;
}

.east700 {
    font-family: 'Eastman Grotesque Trial';
    font-weight: 700;
}

.btn {
    border: 3px solid white;
    background-color: transparent;
    color: white;
    font-size: 17px;
    border-radius: 8px;
    padding: 20px 100px;
    transition: all 0.2s linear;
    cursor: pointer;
}

.btn:hover {
    border: 3px solid #d7a45c;
    color: #d7a45c;
}


/* ================== Navbar Section ================ */
.header {
    width: 100%;
    gap: 50px;
    height: 120px;
    backdrop-filter: blur(0);
    background-color: rgba(0, 0, 0, 0);
}

.header .fade__effect {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    flex: none;
    height: 250px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    display: none;
    transition: all 0.2s linear;
}

.header__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header__ul.active{
    right: 0;
}

.header ul li {
    list-style: none;
}

.header__ul li ion-icon {
    color: white;
    list-style: none;
    font-size: 1.4rem;
    padding: 0;
    transition: all 0.2s linear;
    display: inline-block;
}

.header ul li ion-icon:hover {
    cursor: pointer;
    border-radius: 80px;
    background-color: rgb(215, 164, 92);
}

.header .menubtn {
    height: 40px;
    width: 98px;
    border-radius: 80px;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-right: 50px;
    text-align: center;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
    position: relative;
}

.header .menubtn:hover {
    cursor: pointer;
    background-color: rgb(215, 164, 92);
    color: white;
}

.logo {
    position: relative;
    top: 0;
    z-index: 2;
    margin: 20px auto;
}

/* ===================  Main Section ================ */
#main__section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#main__section > video{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main__section > .bg__layer{
    position: absolute;
    background-color: #11361C;
    width: 100%;
    height: 100%;
    transition: all 0.2s linear;
}

#main__section > .bg__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000 url("../asset/bottle.svg");
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: multiply;
    transition: all 0.2s linear;
}

#main__section > .text__content{
    width: 100%;
    height: 100%;
}

#main__section > .text__content > h1 {
    position: relative;
    top: 45%;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 6rem;
    transition: all 0.2s linear;
}

#main__section > .text__content > svg {
    position: relative;
    top: 22%;
    width: 350px;
    margin: 0 auto;
    transition: all 0.2s linear;
    animation: rotate 40s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#main__section .text__box{
    position: relative;
    bottom: 150px;
    transition: all 0.2s linear;
    color: white;
    margin: 0 auto;
    text-align: center;
    scale: 0;
}

#main__section .text__box > h2{
    font-size: 100px;
    line-height: 90px;
    text-transform: uppercase;
}

.text__box > h2:nth-child(2) {
    color: #d7a45c;
}

.text__box > p {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 70px;
}

/* ========================= Second Section ======================= */
#second__section{
    gap: 100px;
    width: 100%;
    background-color: #000;
    transition: all 0.2s linear;
}

.logo__2{
    z-index: 4;
    padding-top: 25px;
    opacity: 0;
}

#second__section img:nth-child(2){
    padding: 300px 0 0 0;
}

.second__content{
    position: relative;
    width: 100%;
    height: 100%;
}

.second__content > video{
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: relative;
}

#second__section .text__box{
    padding-top: 40px;
    position: absolute;
    top: -5px;
    width: 100%;
    height: 100%;
    background: #000;
    mix-blend-mode: multiply;
}

#second__section .text__box > h2{
    font-size: 200px;
    line-height: 180px;
}

#second__section .para{
    position: relative;
    top: -60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 60px auto;
}

#second__section .para > p{
    line-height: 23px;
    width: 36%;
}

/* =================== Third Section =================== */
/*  ================= Second Section ================ */
#third__section {
    position: relative;
    top: 1997px;
    overflow: hidden;
}

#third__section .fade-effect {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    flex: none;
    height: 400px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 1;
}

#third__section video {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

#third__section .content {
    width: 100%;
    position: absolute;
    top: 200px;
}

#third__section .content h2 {
    position: relative;
    z-index: 1;
    font-size: 100px;
}

#third__section .content span {
    color: #d7a45c;
}

#third__section .para {
    padding-top: 30px;
    text-align: center;
    width: 36%;
}

#third__section .para p {
    line-height: 23px;
}

#third__section .box {
    height: 412px;
    overflow: hidden;
    position: relative;
    bottom: 300px;
    z-index: 1;
    transform: scale(0.8);
}

#third__section .box .box-outer {
    background-color: #11361c;
    border-radius: 20px;
    bottom: 0;
    flex: none;
    left: calc(50.00000000000002% - 695px / 2);
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 695px;
    z-index: 1;
}

#third__section .box .box-inner {
    --border-bottom-width: 3px;
    --border-color: #d7a45c;
    --border-left-width: 3px;
    --border-right-width: 3px;
    --border-style: solid;
    --border-top-width: 3px;
    border-radius: 13px;
    flex: none;
    height: 391px;
    left: calc(50.00000000000002% - 675px / 2);
    overflow: hidden;
    position: absolute;
    top: calc(49.75728155339808% - 391px / 2);
    width: 675px;
    z-index: 1;
}

#third__section .box .box-inner::after {
    content: "";
    border-width: var(--border-top-width, 0) var(--border-right-width, 0) var(--border-bottom-width, 0) var(--border-left-width, 0);
    border-color: var(--border-color, none);
    border-style: var(--border-style, none);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    pointer-events: none;
}

/* =============== Fourth Section ============== */
#fourth__section {
    position: relative;
    top: 1500px;
    height: 500px;
    background-color: #000;
}